<!doctype html>
<html>

    <head>

        <title>TraeC</title>

        <link rel="stylesheet" href="companydetails.css">

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


        <style>
            * {
                box-sizing: border-box;
                background-color: #F3FFFF;
            }

            body {
                margin:0;
                padding:0;
                font-family: lato;
                color:#AEAEAE;
            }

        </style>

    </head>

    <body>

        <div id="title">TraeC.</div>

        <div id="left">

            <div class="sidenav">
              <a href="#">Welcome</a>
              <a href="#">Active</a>
              <a href="#">Older</a>
              <a href="#">Updates</a>

            </div>

            <div id="titlebar">Google - Full Stack Web Developer - NYC</div>

            <div class="clear"> </div>

            <table style="width:50%" class="tbl-content">

            <tr class="tbl-header" style="background-color:#88BBD6">

                <strong><th>Date</th>
                <th>Status</th>
                <th>Date Applied</th>
                  </strong>
            </tr>

            <div class="tbl-content">
              <tr>
                <td>10/13/17</td>
                <td></td>
                <td><a href="http://www.vanguardjobs.com/job-search-results/">Vanguard</a></td>

              </tr>
              <tr>


                <td>10/6/17</td>
                <td></td>
                <td><a href="https://www.clarifai.com/careers">Clarifai</a></td>

              </tr>
              <tr>


                <td>10/6/17</td>
                <td></td>
                <td><a href="https://www.buzzfeed.com/about/jobs">Buzzfeed</a></td>
              </tr>
                <tr>



                <td>10/4/17</td>
                <td></td>
                <td><a href="https://boards.greenhouse.io/giphy">GIPHY</a></td>
              </tr>
                <tr>

                <td>10/1/17</td>
                <td></td>
                <td><a href="https://www.nytco.com/careers/">The New York Times</a></td>
                </tr>


                <tr>

                <td>9/10/17</td>
                <td></td>
                <td><a href="www.monsterindia.com/gogle-jobs.html">Google</a></td>
              </tr>
                <tr>

                <td>8/28/17</td>
                <td></td>
                <td><a href="www.monsterindia.com/gogle-jobs.html">Facebook</a></td>
              </tr>

            </div>

            </table>

            </div>

            <div id="rightcolumn">

                <h2>Google</h2>



            </div>

            <div class="clear"></div>



        <script type = “text/javascript” src=”landingpage.js”>

        </script>

    </body>

</html>
