<html>
    <head>
    <link rel="stylesheet" href="Appl.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <header>
            <title>
                TraeC.
            </title>

            <link rel="stylesheet" href="dashboard.css">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        </header>

    <body>

            <div class="sidenav">
              <a href="#">Welcome</a>
              <a href="#">Active</a>
              <a href="#">Older</a>
              <a href="#">Updates</a>
            </div>



            <div id="title">
                TraeC.

            </div>

            <div id="status">

                Active

            </div>

            <table style="width:85%" class="tbl-content">
              <tr class="tbl-header">

                <strong><th>Company</th>
                <th>Status</th>
                <th>Date Applied</th>
                <th>Position</th></strong>
              </tr>

            <div class="tbl-content">
              <tr id="tesla">
                <td>Tesla</td>
                <td>Applied</td>
                <td>10/2/2017</td>
                <td>Software Developer(Graduate)</td>


              </tr>
                <tr id="reuters">


                <td>Thomson Reuters</td>
                <td>Rejected</td>
                <td>9/21/2017</td>
                <td>Summer 2018 Internship</td>


              </tr>
               <tr id="Bloomberg">


                <td>Bloomberg</td>
                <td>Interview Schedule</td>
                <td>10/10/2017</td>
                <td>Software Developer(Graduate) 2018</td>

              </tr>
                  <tr id="giphy">



                <td>GIPHY</td>
                <td>Applied</td>
                <td>09/15/2017</td>
                <td>2018 Summer Internship</td>

              </tr>
                  <tr id="times">

                <td>The New York Times</td>
                <td>Phone Interview</td>
                <td>08/25/2017</td>
                <td>Spring 2018 Internship</td>

                </tr>


                <  <tr id="google">>

                <td>Google</td>
                <td>Applied</td>
                <td>08/11/2017</td>
                <td>Graduate Residency 2018</td>

              </tr>
                <  <tr id="facebook">>

                <td>Facebook</td>
                <td>Applied</td>
                <td>07/21/2017</td>
                <td>Software Engineering</td>
              </tr>

            </div>

            </table>

        </body>
    </head>
</html>
