<!doctype html>
<html>

    <head>

        <title>TraeC</title>

        <link rel="stylesheet" href="landingpage.css">

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->


    </head>

    <body>

        <div id="top">

            <img src="tracer.jpg" width=100%>

            <h1 id="title">Meet TraeC.</h1>

            <div id="signin">
              <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>


        </div>

        <div class="clear"> </div>

        <div id="intro">
            Companies keep track of all their job candidates, including you.
            <br>We want you to keep track of all your company candidates too...
        </div>

        <div class="clear"> </div>

        <div id="apptrack">
            Introducing Application Tracking<br>For <span><strong>You</strong></span>
        </div>

        <div id="sample"> <img src="Example.png"></div>

        <div class="clear"> </div>

        <div class="sections" id="apply">
            Simply apply to all your desired positions and companies

            <div class="applyimage"> "Hi Tracy,

            Thank you for applying for the Experience Research Intern role at HackNY. We’re truly inspired by the talented people who find their way to us, and we know that it took a lot of time and effort on your part..."</div>

        </div>

        <div class="sections" id="two">
            And we'll take the journey with you up until you get your offer letter

            <div class="applyimage">

                "Hi Tracy,

                Congratulations! Tracy, we are pleased to offer you the role of Experience Research Intern here at HackNY!

            </div>


        </div>

        <div class="sections" id="last">
            Interested?
            <a href="">Sign Up</a>

        </div>

        <script type = “text/javascript” src=”landingpage.js”>

        </script>

    </body>

</html>
